.cart {
	width: 100%;
	height: 71vh;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 10%;
	overflow: auto;
	background: linear-gradient(rgb(243, 234, 223), rgb(190, 111, 15));
	border-radius: 20px;
	box-shadow: 2px 2px 2px gray;
}

.cart-product-img {
	width: 100%;
	height: 100%;
}

.itemImgBox {
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 10px solid rgb(174, 74, 57);
    box-shadow: 5px 5px 5px gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.quantityBobble {
	-moz-appearance: textfield;
	width: 60%;
	border: 1px solid rgb(197, 197, 197);
	box-shadow: 1px 1px 1px gray;
	margin-left: 5%;
}

.quantityBobble:hover {
	background-color: rgb(189, 189, 189);
	color: black;
	border: 1px solid rgb(189, 189, 189);
}

.quantityButtons {
	display: flex;
	align-items: center;
	align-self: flex-start;
}

.cart-item-button {
	width: 10%;
	height: 60%;
	border: 1px solid rgb(197, 197, 197);
	box-shadow: 1px 1px 1px gray;
	padding-bottom: 2px;
	padding-right: 1px;
}

.cart-item-button:hover {
	cursor: pointer;
	background-color: rgb(189, 189, 189);
	color: black;
	border: 1px solid rgb(189, 189, 189);
}

.cart-item-button:active {
	cursor: pointer;
	background-color: gray;
	color: white;
	border: 1px solid gray;
	box-shadow: none;
}

.cartItemBox {
	width: 98%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px black;
	margin-bottom: 2%;
	background: rgb(229, 209, 206);
	padding-bottom: 2%;
}

.vendorInfo {
	display: flex;
	align-items: center;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1.5%;
	text-decoration: none;
	color: black;
	border-radius: 20px 20px 0 0;
	background: rgb(231, 187, 180);
	border-bottom: 3px solid black;
}

.vendorInfo:hover {
	background: rgb(221, 158, 149);
	color: tomato;
	
}

.vendorImgBox {
	width: 100px;
    height: 100px;
    background: white;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 5px solid rgb(60, 60, 60);
    box-shadow: 5px 5px 5px rgb(72, 71, 71);
}

.cartVendorImg {
	width: auto;
	height: 100%;
}

.vendorNameBox {
    font-size: 30px; 
	font-weight: bolder;
	margin-left: 5%;
	padding: 10px;
	border-radius: 10px;
	background: white;
	box-shadow: 2px 2px 2px rgb(72, 71, 71);
	text-decoration: none;
}
.itemInfo {
	display: flex;
	flex-wrap: nowrap;
	padding: 1%;
	justify-content: space-between;
}

.nameAndPriceBox {
	display: flex;
	flex-direction: column;
	padding-left: 5%;
	padding-right: 2%;
	margin-top: 2%;
}

.qtyAndDescBox {
	display: flex;
	flex-direction: column;
	width: 33%;
	margin-top: 2%;
}

.itemDesc {
	background: #f1e3d7;
	padding: 5px;
	border-radius: 10px;
	margin-top: 5%;
	box-shadow: 2px 2px 2px gray;
}

.itemName {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5%;

}

.cartPage {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.checkout {
	margin-left: 10%;
	margin-right: 5%;
	background: linear-gradient(rgb(238, 218, 218), rgb(75, 6, 6));
	width: 20%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 4%;
	margin-bottom: 0.5%;
	border-radius: 20px;
	margin-top: 0.3%;
	box-shadow: 2px 2px 2px gray;
}

.checkoutBar {
	display: flex;
	flex-direction: column;
}

.totalItemBox {
	background: white;
	padding: 5px;
	border-radius: 10px;
	margin-top: 5%;
	box-shadow: 2px 2px 2px gray;
	font-weight: bold;
}

.totalItems {
	font-weight: normal;
}

.totalPrice {
	font-weight: normal;
}

.totalPriceBox {
	background: white;
	padding: 5px;
	border-radius: 10px;
	margin-top: 5%;
	box-shadow: 2px 2px 2px gray;
	font-weight: bold;
}

.cartPageTitle {
	margin-left: 4.4%;
	border: 1px solid gray;
	margin-right: 5%;
	margin-top: 0.5%;
	padding-left: 1%;
	border-radius: 10px;
	font-weight: bold;
	box-shadow: 2px 2px 2px gray;
}