.store-page {
	margin-left: 14%;
	margin-right: 14%;
}

#shop-splash-img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.splash-img-container {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.splash-img-container img {
	width: 100%;
}

.header-container {
	display: flex;
	height: 350px;
	border: black solid 2px;
}

.header-left {
	width: 70%;
	height: 100%;
	text-align: right;
}

.header-right {
	width: 50%;
	height: 100%;
	text-align: center;
	justify-content: center;
}

.sample-review-container {
	margin-top: 10px;
	border: 2px red solid;
	height: 150px;
}

.store-menu-container {
	display: inline-block;
	max-height: 600px;
	width: 100%;
	border: 2px solid red;
	overflow: auto;
}
