/* TODO Add site wide styles */
/* * {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

a {
	color: black;
} */
* {
	font-family: "Asap", sans-serif;
}
/* 
body {
	background: rgb(211, 191, 162);
} */
