*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    line-height: 1.6;
}

#container {
   height: 100vh;
   /* width: 100%; */
   background-image: url('./cook.jpeg');
   background-size:cover;
   background-position: center;
   z-index: 99999;
   display: flex;
   flex-direction: column;
   justify-content: top;
   align-items: center;
   padding: 200px 20px;

}

#container h1{
    font-size: 50px;
    color: white;
    text-shadow: -1px 1px 0 #6F6534,
    1px 1px 0 #6F6534,
    1px -1px 0 #6F6534,
    -1px -1px 0 #6F6534;
}

#container h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    text-shadow: -1px 1px 0 #6F6534,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

#container .button{
    width: 200px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #6F6534;

}
