.reviewBox {
    border-top: 2px solid #71250E;
    border-left: 2px solid #71250E;
    border-right: 2px solid #71250E;
    background: radial-gradient(#6F6534, #71250E);
    padding: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.reviewTitle {
    color: white;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
    
}

.singleReview {
    background: #EB781B;
    width: 100%;
    padding: 20px;
    color: black;
    border-radius: 15px;
    border: 1px solid black;
}

#review-img {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border: 5px solid rgb(77, 15, 15);
}

.nameAndImgBox {
    display: flex;
}

.reviewName {
    align-self: center;
    margin-left: 5%;
    font-weight: bolder;
    text-shadow: -1px 1px 0 #FFF,
				  1px 1px 0 #FFF,
				 1px -1px 0 #FFF,
				-1px -1px 0 #FFF;
}

.ratingBox {
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
}

.theRatingTM {
    font-weight: bold;
    color: black;

}

.reviewText {
    background: #e5cbb5;
    position: relative;
    width: 50%;
    height: 20%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    top: -8px;
    color: black;

}

.storeLink {
    text-decoration: underline;
    color: rgb(37, 35, 35);
}

.storeLink:hover {
    color: #cdc5be;
}

.linkAndButtonBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

