.menu-products-container {
	display: flex;
	height: 200px;
	border: black solid 2px;
	margin-top: 5px;
}

#menu-product-img-container {
	height: 200px;
	width: 200px;
	object-fit: cover;
}
#menu-product-img {
	height: 100%;
	width: 100%;
	display: block;
}
